proprietary/product/priv-app/Messages/Messages.apk
proprietary/product/priv-app/GmsCore/GmsCore.apk
proprietary/product/priv-app/Velvet/Velvet.apk
proprietary/product/app/TrichromeLibrary64/TrichromeLibrary64.apk
proprietary/product/app/Gmail2/Gmail2.apk
proprietary/product/app/Photos/Photos.apk
